* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: "DM Sans", sans-serif;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

#mute-btn {
  z-index: 1000;
  position: fixed;
  top: 20px;
  right: 20px;
  width: 35px;
  height: 35px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.loader {
  background: black;
  color: white;
  position: absolute;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  z-index: 2;
}

.loaded-percent {
  position: absolute;
  top: 55%;
}

.progress {
  position: absolute;
  top: 52%;
  height: 1px;
  width: 100%;
  transform: scaleX(0);
  background-color: white;
  transition: all 1s ease;
}
.logo {
  margin-left: 15px;
  width: 70px;
  height: 30px;
}

.header {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 30px;
  gap: 50px;
}

.header__button {
  background: none;
  border-radius: 100px;
  display: flex;
  border: 1px solid black;
  padding: 7px 20px;
  cursor: pointer;
}

.header__button-book {
  display: flex;
}

.header__button_bottom-name {
  color: #545454;
}

.section {
  width: 100vw;
  height: 100vh;
  padding-left: 40px;
  padding-right: 40px;
}

.section__one {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  justify-content: space-around;
}

.section__one_top {
  display: flex;
  flex-direction: column;
}

.section__one__title {
  font-size: 200px;
  max-width: 1200px;
  width: 80%;
  margin-top: 30px;
}

.section__one__subtitle {
  font-size: 30px;
  max-width: 500px;
}

.section__last {
  display: flex;
  justify-content: center;
  position: relative;
  height: 100%;
}

.section__last_button-container {
  display: flex;
  height: 50px;
  margin-top: 100px;
}

.section__last-img {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.welcome {
  display: flex;
  align-self: center;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

.welcome__title {
  font-size: 18px;
  line-height: 1;
  font-weight: 400;
  margin-bottom: 10px;
}

.welcome__scroll-title {
  font-size: 26px;
  line-height: 1;
  font-weight: 500;
}

.welcome__arrow {
  width: 30px;
  display: block;
  height: 30px;
}

.welcome__subtitle {
  font-size: 12px;
  line-height: 1;
  font-weight: 400;
}

.welcome__text {
  width: 200px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
}

.welcome__text-none {
  display: none;
}

.creators {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  margin-top: 50px;
  border-left: black solid 2px;
  padding-left: 30px;
  font-weight: 900;
}

.bg_yellow {
  background-color: #fee14a;
  display: flex;
  align-items: center;
}

.bg_white {
  background-color: #fff;
}

.bg_beige {
  background-color: #fcf3e1;
}

.bg_white.second {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 5rem;
}

.bg_white.second h3 {
  font-size: 4rem;
}

.paragraph-japanese p {
  width: 40%;
  font-weight: 600;
  font-size: 1rem;
  margin-top: 0.3rem;
}

.paragraph-eng p {
  color: #b8b2b2;
  font-size: 0.7rem;
  width: 40%;
}

.bg_orange {
  background-color: #ff6636;
}

.bg_orange.third {
  display: flex;
  justify-content: flex-end;
  padding-right: 0;
  position: relative;
}

.third_container--heading {
  position: absolute;
  left: 1%;
  top: 0;
}

#chefMotion h2 {
  transform: translate(-50%, 0%);
  transition: all 1s ease-out;
}

#chefMotion.animation h2 {
  transform: translate(0%, 0%);
}

.third_container--heading h2 {
  font-size: 28rem;
  line-height: 0.72;
  letter-spacing: 1rem;
}

.third_container--image {
  /* width: 400px; */
  background-color: rgb(246, 240, 210);
  display: flex;
  align-items: end;
  padding-bottom: 3rem;
  justify-content: center;
  padding-inline: 5rem;
}

.third_container--image img {
  width: 150%;
  height: 60%;
}

h1 {
  font-size: 14rem;
  font-size: 14rem;
  line-height: 12rem;
  letter-spacing: -0.3rem;
  width: 50%;
  margin: 0 0 30px -10px;
}

.best_text_container {
  display: block;
}

#webgi-canvas {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
}



.best_title {
  margin-block-start: 0;
  margin-block-end: 0;
}
.slider_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.best_slider_title{
  margin-bottom: 0.5rem;
}

.slider {
  display: flex;
  justify-content: space-between;
  width: 30vw;
  margin: 1rem;
  padding: 1rem;
  border-radius: 10px;
  max-height: 27vh;
}

.best_slider_text {
  display: block;
  width: 40%;
}

#webgi-canvas-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  pointer-events: none;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
}
/* -------------------------------- */

.fourth {
  display: flex;
  flex-direction: column;
}

.animated-yellow-text__container {
  display: grid;
  place-content: center;
  height: 90vh;
  width: 1440px;
}

.animated-yellow-text__paragraph-eng {
  color: #515151;
  font-size: 0.7rem;
  width: 40%;
  text-align: center;
}

.line {
  margin: 0 auto;
  /* width: 1200px !important; */
  /* width: 100%; */
  text-align: center !important;
}

.word {
  width: 100%;
  letter-spacing: 0.5rem;
}

#text {
  width: 1440px !important;
  font-size: 4rem;
  text-transform: uppercase;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);

  line-height: 8rem;
}

.char {
  transform: translateY(580px);
  /* transform: translateX(800px); */
  transition: transform 0.5s;
}

/* ----------------------- */

.bg_beige {
  background-color: rgb(246, 240, 210);
}

.fourth-and-half {
  padding: 2.6rem 3.85rem;
  text-transform: uppercase;
  font-size: 1.4rem;
}

.fourth-and-half__text {
  padding-left: 30px;
  border-left: 2px solid black;
}

.video {
  width: 100%;
  height: 85%;
  margin: 0 auto;
  display: grid;
  place-content: center;
}

.video__text {
  text-align: center;
  font-weight: 600;
}

.footer {
  width: 100%;
  padding: 2rem;
  font-size: 2rem;
  font-weight: 900;
  text-transform: uppercase;
}
.footer__container {
  width: 1000px;
  margin: 0 auto;
}
.container-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.text-center {
  text-align: center;
}
.footer__small-text {
  width: 500px;
  font-weight: 200;
  font-size: 0.8rem;
}

/* ------------------------------- */
.sixth {
  display: block;
  height: screen;
  width: 100%;
}
.animated-text__container {
  height: 600px;
}
.animated-text {
  width: 390px;
  padding: 50px 60px 50px 80px;
  border-radius: 50%;
  border: 2px solid black;
  background-color: #fff;

  display: flex;
  flex-direction: column;
  position: relative;
  left: -400px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);

  font-weight: 700;
}
.spacer {
  height: 100vh;
}
